<!-- cart page -->
<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <% if(products.length>0){%>
            <section class="cart">
                <h1>Your Cart</h1>
                <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <div class="cart__item-details">
                            <h2><%= p.productData.title %></h2>
                            <p>Quantity: <%= p.qty %></p>
                            <p>Price: $<%= p.productData.price %></p>
                        </div>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="productId" value="<%= p.productData.id %>">
                            <button class="btn btn--danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }); %>
                </ul>
            </section>
        <%}else{%>
            <h1>no products in the cart!</h1>
        <%} %>
    </main>
    <%- include('../includes/end.ejs') %>
